<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Links to minimized stylesheets hosted at webdevjeffus.com -->
  <!-- link rel="stylesheet" href="http://www.webdevjeffus.com/drop-in-css/drop-in.min.css" -->
  <!-- link rel="stylesheet" href="http://www.webdevjeffus.com/drop-in-css/drop-in-gp.min.css" -->
  <!-- link rel="stylesheet" href="http://www.webdevjeffus.com/drop-in-css/drop-in-og.min.css" -->

  <!-- Links to stylesheets saved locally -->
  <link rel="stylesheet" href="../css/drop-in.css">
  <!-- link rel="stylesheet" href="../css/drop-in-gp.css" --><!-- Great Pumpkin theme -->
  <!-- link rel="stylesheet" href="../css/drop-in-og.css" --><!-- Old Glory theme -->
  <!-- link rel="stylesheet" href="../css/drop-in-wb.css" --><!-- Whiteboard theme -->
  <link rel="stylesheet" href="../css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="../js/application.js"></script>

  <title>Drop-In CSS | Demo</title>
</head>

<body class="container">

  <header>
    <div>
      <h1><a href="/">Humblebrag</a></h1>
      <p>Small batch flannel beard irony!</p>
    </div>
    <nav>
      <ul>
        <li>
          <a href="#">Disrupt</a>
        </li>
        <li>
          <a href="#">Viral</a>
        </li>
        <li>
          <a href="#">Forage</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <section>
      <article>
        <h1>Vegan organic distillery</h1>
        <ul>
          <li><a href="#">Banjo butcher</a></li>
          <li><a href="#">Four-dollar toast</a></li>
          <li><a href="#">Heirloom semiotics</a></li>
        </ul>
        <h2>Plaid brooklyn leggings</h2>
        <p>Distillery truffaut sartorial +1 single-origin coffee, sriracha YOLO. Irony keytar <a href="#">bicycle rights</a> farm-to-table. Hoodie +1 brooklyn distillery pickled. Etsy wolf gentrify PBR&B, 3 wolf moon humblebrag seitan. Vinyl locavore heirloom kinfolk ennui, hashtag cliche tofu cred selvage. Forage kinfolk crucifix, food truck narwhal humblebrag wayfarers fingerstache 90's gastropub. Craft beer butcher church-key, dreamcatcher kickstarter heirloom ramps slow-carb. Synth leggings wayfarers, shabby chic hoodie portland small batch migas VHS organic 90's slow-carb gluten-free.</p>
      </article>
      <aside>
        <section>
          <h2>Ethical mlkshk</h2>
          <p>Kombucha cold-pressed single-origin coffee portland austin schlitz. Distillery <a href="#">banh mi</a> XOXO you probably haven't heard of them, green juice church-key umami.</p>
        </section>
        <section>
          <h2>Pickled irony</h2>
          <p>Literally <a href="#">polaroid</a> fap before they sold out paleo, drinking vinegar selfies cronut XOXO fanny pack lo-fi biodiesel. Tumblr hella cardigan bicycle rights, ethical mlkshk sriracha dreamcatcher humblebrag chambray selvage sartorial. Forage quinoa salvia food truck.</p>
        </section>
      </aside>
    </section>

    <section>
      <h2>Tousled dreamcatcher blog</h2>
      <form>
        <div>
          <label for="text_input">Occupy waistcoat:</label>
          <input name="text_input" type="text">
        </div>
        <div>
          <label for="password_input">Gentrify pitchfork:</label>
          <input name="password_input" type="password">
        </div>
        <h3>Hipster things (choose one):</h3>
        <div>
          <input type="radio" name="hipster_thing" value="blue_bottle">
          <label for="blue_bottle">Blue bottle</label>
          <input type="radio" name="hipster_thing" value="paleo_cred">
          <label for="paleo_cred">Paleo cred</label>
          <input type="radio" name="hipster_thing" value="narwal">
          <label for="narwal">Tattooed narwhal</label>
        </div>
        <h3>More hipster things (choose many):</h3>
        <div>
          <input type="checkbox" name="more_things" value="wolf_moon">
          <label for="more_things">Wolf moon</label>
        </div>
        <div>
          <input type="checkbox" name="more_things" value="vegan_cats">
          <label for="vegan cats">Vegan thundercats</label>
        </div>
        <div>
          <input type="checkbox" name="more_things" value="ck_ramps">
          <label for="ck_ramps">Church-key ramps</label>
        </div>
        <div>
          <label for="range-input">Vinegar selfies</label>
          <input type="range" name="range-input" min="1" max="10">
        </div>
        <div>
          <label for="essay">Echo park pinterest mumblecore?</label>
          <textarea name="essay"></textarea>
          <input type="submit" value="YOLO death">
        </div>
      </form>
    </section>

    <section>
      <h1>Flannel food truck</h1>
      <p>Mlkshk roof party twee, paleo scenester celiac tilde locavore fixie thundercats. Pinterest tumblr fingerstache, kitsch four loko godard banh mi tofu banjo butcher. Slow-carb <a href="#">skateboard messenger bag</a> humblebrag church-key tousled. Flannel lumbersexual food truck, gentrify plaid 90's pickled hella lo-fi. Pork belly drinking vinegar chicharrones, vegan organic distillery YOLO tumblr sustainable typewriter hoodie migas artisan.</p>

      <h3>Small batch man braid</h3>
      <p>Portland 3 wolf moon tattooed polaroid. Yuccie man braid meditation fashion axe, kitsch brunch tote bag dreamcatcher banh mi kogi jean shorts organic tousled before they sold out small batch. Kale chips normcore forage, <a href="#">tattooed umami</a> occupy fanny pack. Everyday carry fanny pack small batch man braid deep v, listicle scenester yr dreamcatcher fixie blog paleo pug try-hard. Intelligentsia irony retro freegan, fanny pack YOLO selfies. Venmo lo-fi next level XOXO, synth schlitz <a href="#">tattooed franzen</a>. </p>
    </section>

    <section>
      <h2>Hashtag roof party</h2>
      <table>
        <tr>
          <th>Aesthetic</th>
          <th>Everyday</th>
          <th>Readymade</th>
          <th>Direct trade</th>
        </tr>
        <tr>
          <td>Taxidermy</td>
          <td>Hoodie +1</td>
          <td>Organic umami</td>
          <td>Man bun</td>
        </tr>
        <tr>
          <td>Mixtape</td>
          <td>Portland</td>
          <td>Small-batch migas</td>
          <td>Synth leggings</td>
        </tr>
        <tr>
          <td>Farm-to-table</td>
          <td>Master cleanse</td>
          <td>Sriracha tilde kale chips</td>
          <td>Stumptown</td>
        </tr>
      </table>
    </section>

    <section>
      <article>
        <h1>Whatever shabby-chic shoreditch</h1>
        <section>
          <p>Mumblecore taxidermy flexitarian tilde kombucha stumptown. Small batch ramps fanny pack, bitters etsy sriracha YOLO intelligentsia yuccie craft beer photo booth bicycle rights tilde bespoke. 8-bit kombucha migas retro celiac occupy, readymade mlkshk post-ironic four dollar toast. Synth tumblr banh mi yr ethical, poutine aesthetic gentrify selvage organic raw denim health goth meggings gochujang DIY.</p>
        </section>
        <section>
          <h2>Twee VHS intelligentsia</h2>
          <p>Tumblr cold-pressed master cleanse kale chips. Farm-to-table sriracha tilde, fashion axe artisan thundercats small batch yr umami listicle vice. Authentic ethical cronut banjo, blog mixtape post-ironic cliche portland normcore. 8-bit kombucha migas retro celiac occupy, readymade mlkshk post-ironic four dollar toast.</p>
          <p>Echo park pinterest mumblecore, disrupt yuccie taxidermy skateboard hammock chia everyday carry roof party hashtag brunch. Put a bird on it chicharrones man braid sustainable cardigan, health goth shabby chic austin locavore hella. Offal polaroid leggings umami, sustainable scenester dreamcatcher.</p>
          <p>Celiac fashion axe you probably haven't heard of them flannel pickled roof party 3 wolf moon heirloom mixtape. PBR&B trust fund polaroid, pork belly ethical you probably haven't heard of them street art direct trade small batch ramps yr distillery viral etsy. Letterpress normcore tilde mixtape retro hashtag. Blue bottle banjo paleo art party church-key, shabby chic fanny pack migas portland seitan wolf viral yr.</p>
        </section>
      </article>
      <aside>
        <h2>Bushwick distillery</h2>
        <p>Austin chambray pabst normcore, whatever shabby chic shoreditch put a bird on it. Vice seitan selvage retro, tousled helvetica twee single-origin coffee tilde bushwick blog kitsch neutra distillery venmo. </p>
        <h4>Bespoke mixtape</h4>
        <ol>
          <li>Craft beer</li>
          <li>Flexitarian tilde</li>
          <li>Organic denim</li>
        </ol>
        <h3>Cold-pressed cronut</h3>
        <p>Cliche tumblr tofu ethical, humblebrag whatever marfa lomo. Irony affogato pitchfork iPhone, shabby chic gentrify echo park. Freegan four loko before they sold out shoreditch, intelligentsia twee kombucha VHS knausgaard quinoa offal skateboard fanny pack.</p>
      </aside>
    </section>
  </main>

  <footer>
    <h3><a href="#">Humblebrag:</a> Small batch flannel beard irony!</h3>
    <p> Drinking vinegar 3 wolf moon jean shorts, <a href="#">vegan plaid</a> authentic forage semiotics.</p>
    <nav>
      <ul>
        <li>
          <a href="#">Disrupt</a>
        </li>
        <li>
          <a href="#">Viral</a>
        </li>
        <li>
          <a href="#">Forage</a>
        </li>
      </ul>
    </nav>
  </footer>
</body>
</html>