<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Link for default theme fonts -->
  <link href='https://fonts.googleapis.com/css?family=Alegreya:700|Open+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

  <!-- Link for Great Pumpkin theme fonts -->
  <!-- link href='https://fonts.googleapis.com/css?family=Amatic+SC:700|Josefin+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css' -->

  <!-- Link for Old Glory theme fonts -->
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display+SC:700|Open+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/drop-in.css">
  <!-- link rel="stylesheet" href="../css/drop-in-gp.css" --><!-- Great Pumpkin theme -->
  <link rel="stylesheet" href="../css/drop-in-og.css"><!-- Old Glory theme -->
  <link rel="stylesheet" href="../css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="../js/application.js"></script>

  <title>Drop-In CSS | Demo</title>
</head>

<body class="container">

  <header>
    <div>
      <h1><a href="/">Humblebrag</a></h1>
      <p>Small batch flannel wayfarers beard irony !</p>
    </div>
    <nav>
      <ul>
        <li>
          <a href="#">Link 1</a>
        </li>
        <li>
          <a href="#">Link 2</a>
        </li>
        <li>
          <a href="#">Link 3</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <section>
      <article>
        <h1>Vegan organic distillery</h1>
        <ul>
          <li><a href="#">Banjo butcher</a></li>
          <li><a href="#">Four-dollar toast</a></li>
          <li><a href="#">Heirloom semiotics</a></li>
        </ul>
        <h2>Plaid brooklyn leggings</h2>
        <p>Distillery truffaut sartorial +1 single-origin coffee, sriracha YOLO. Irony keytar <a href="#">bicycle rights</a> farm-to-table. Hoodie +1 brooklyn distillery pickled. Etsy wolf gentrify PBR&B, 3 wolf moon humblebrag seitan. Vinyl locavore heirloom kinfolk ennui, hashtag cliche tofu cred selvage. Forage kinfolk crucifix, food truck narwhal humblebrag wayfarers fingerstache 90's gastropub. Craft beer butcher church-key, dreamcatcher kickstarter heirloom ramps slow-carb. Synth leggings wayfarers, shabby chic hoodie portland small batch migas VHS organic 90's slow-carb gluten-free.</p>
      </article>
      <aside>
        <section>
          <h2>Ethical mlkshk</h2>
          <p>Kombucha cold-pressed single-origin coffee portland austin schlitz. Distillery <a href="#">banh mi</a> XOXO you probably haven't heard of them, green juice church-key umami.</p>
        </section>
        <section>
          <h2>Pickled irony</h2>
          <p>Literally <a href="#">polaroid</a> fap before they sold out paleo, drinking vinegar selfies cronut XOXO fanny pack lo-fi biodiesel. Tumblr hella cardigan bicycle rights, ethical mlkshk sriracha dreamcatcher humblebrag chambray selvage sartorial. Forage quinoa salvia food truck.</p>
        </section>
      </aside>
    </section>

    <section>
      <h1>Flannel food truck</h1>
      <p>Mlkshk roof party twee, paleo scenester celiac tilde locavore fixie thundercats. Pinterest tumblr fingerstache, kitsch four loko godard banh mi tofu banjo butcher. Slow-carb <a href="#">skateboard messenger bag</a> humblebrag church-key tousled. Flannel lumbersexual food truck, gentrify plaid 90's pickled hella lo-fi. Pork belly drinking vinegar chicharrones, vegan organic distillery YOLO tumblr sustainable typewriter hoodie migas artisan.</p>
      <p>Portland 3 wolf moon tattooed polaroid. Yuccie man braid meditation fashion axe, kitsch brunch tote bag dreamcatcher banh mi kogi jean shorts organic tousled before they sold out small batch. Kale chips normcore forage, <a href="#">tattooed umami</a> occupy fanny pack. Everyday carry fanny pack small batch man braid deep v, listicle scenester yr dreamcatcher fixie blog paleo pug try-hard. Intelligentsia irony retro freegan, fanny pack YOLO selfies. Venmo lo-fi next level XOXO, synth schlitz <a href="#">tattooed franzen</a>. </p>
    </section>

    <section>
      <h2>Tousled dreamcatcher blog</h2>
      <form>
        <label name="text_input">Occupy waistcoat:</label>
        <input name="text_input" type="text">
        <label name="password_input">Gentrify pitchfork:</label>
        <input name="password_input" type="password">
        <div>
          <label name="check_this">Blue bottle:</label>
          <input name="check_this" type="checkbox">
          <label name="and_check_this">Paleo cred:</label>
          <input name="and_check_this" type="checkbox">
          <label name="and_check_this">Typewriter pork belly:</label>
          <input name="and_check_this" type="checkbox">
        </div>
        <div>
          <label name="select_this">Wolf moon:</label>
          <input name="select_this" type="radio">
          <label name="select_this">Vegan thundercats:</label>
          <input name="select_this" type="radio">
          <label name="select_this">Church-key ramps:</label>
          <input name="select_this" type="radio">
        </div>
        <input type="submit" value="YOLO death">
      </form>
    </section>

    <section>
      <h2>Hashtag roof party</h2>
      <table>
        <tr>
          <th>Aesthetic</th>
          <th>Everyday</th>
          <th>Readymade</th>
          <th>Direct trade</th>
        </tr>
        <tr>
          <td>Taxidermy</td>
          <td>Hoodie +1</td>
          <td>Organic umami</td>
          <td>Man bun</td>
        </tr>
        <tr>
          <td>Mixtape</td>
          <td>Portland</td>
          <td>Small-batch migas</td>
          <td>Synth leggings</td>
        </tr>
        <tr>
          <td>Farm-to-table</td>
          <td>Master cleanse</td>
          <td>Sriracha tilde kale chips</td>
          <td>Stumptown</td>
        </tr>
      </table>
    </section>

    <section>
      <article>
        <h1>Whatever shabby-chic shoreditch</h1>
        <section>
          <p>Mumblecore taxidermy flexitarian tilde kombucha stumptown. Small batch ramps fanny pack, bitters etsy sriracha YOLO intelligentsia yuccie craft beer photo booth bicycle rights tilde bespoke. 8-bit kombucha migas retro celiac occupy, readymade mlkshk post-ironic four dollar toast. Synth tumblr banh mi yr ethical, poutine aesthetic gentrify selvage organic raw denim health goth meggings gochujang DIY.</p>
        </section>
        <section>
          <h2>Twee VHS intelligentsia</h2>
          <p>Tumblr cold-pressed master cleanse kale chips. Farm-to-table sriracha tilde, fashion axe artisan thundercats small batch yr umami listicle vice. Authentic ethical cronut banjo, blog mixtape post-ironic cliche portland normcore. 8-bit kombucha migas retro celiac occupy, readymade mlkshk post-ironic four dollar toast.</p>
        </section>
      </article>
      <aside>
        <h1>Bushwick distillery</h1>
        <p>Austin chambray pabst normcore, whatever shabby chic shoreditch put a bird on it. Vice seitan selvage retro, tousled helvetica twee single-origin coffee tilde bushwick blog kitsch neutra distillery venmo. </p>
        <h3>Cold-pressed cronut</h3>
        <p>Cliche tumblr tofu ethical, humblebrag whatever marfa lomo. Irony affogato pitchfork iPhone, shabby chic gentrify echo park. Freegan four loko before they sold out shoreditch, intelligentsia twee kombucha VHS knausgaard quinoa offal skateboard fanny pack.</p>
      </aside>
    </section>
  </main>

  <footer>
    <h2><a href="#">HUMBLEBRAG:</a> Small batch flannel wayfarers beard irony!</h2>
    <p> Drinking vinegar 3 wolf moon jean shorts, <a href="#">vegan plaid</a> authentic forage semiotics.</p>
  </footer>
</body>
</html>