<!DOCTYPE html>
<html lang="en">

<head>

  <link href='https://fonts.googleapis.com/css?family=Alegreya:700|Open+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

  <link href='https://fonts.googleapis.com/css?family=Amatic+SC:700|Josefin+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/drop-in.css">
  <link rel="stylesheet" href="../css/drop-in-gp.css">
  <link rel="stylesheet" href="../css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="../js/application.js"></script>

  <title>App Name</title>
</head>

<body class="container">

  <header>
    <div>
      <h1><a href="#">App Name</a></h1>
      <p>If you have a motto or slogan, put it here!</p>
    </div>
    <nav>
      <ul>
        <li>
          <a href="#">Link 1</a>
        </li>
        <li>
          <a href="#">Link 2</a>
        </li>
        <li>
          <a href="#">Link 3</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <section>
      <article>
        <!-- %= yield % -->
        <p>This is where your main content should appear. If you are using a web framework, you will probably want your "yield" block here.</p>
      </article>
      <aside>
        <p>If you need a sidebar on every page, use the article/aside structure you see here. If you do not need a sidebar, remove the "article" and "aside" elements, and just put your "yield" block inside a "section" within the "main" element.
      </aside>
    </section>
  </main>

  <footer>
    <p>This is where the footer text should appear.</p>
  </footer>
</body>
</html>